h1 {
    font-family: "Chango", static;
    color:black;
    font-size: 50px ; 
            
    }

    body {
            background-color: whitesmoke;
        }

#grid {
    display: grid;

    grid-template-columns: repeat(9, 55px);

    gap: 6px;

    justify-content: center;

    margin-top: 30px;

}

input {

    width: 55px;
    height: 55px;
    font-size: 22px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid black;
    opacity: 0;
    transition: transform 0.2s;
    animation: appear 0.6s ease forwards;
    animation-fill-mode: forwards;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;
}

input:hover,
input:focus {

    transform: scale(1.15);

    position: relative;

    z-index: 100;
}

input:focus {

    outline: none;

    background-color: #f0f0f0;
}

button {

    margin-top: 25px;

    padding: 14px 32px;

    font-size: 22px;

    font-family: "Chango", cursive;

    background-color: #A8D08D;

    color: black;

    border: 3px solid black;

    border-radius: 15px;

    cursor: pointer;

    transition: 0.2s;

    box-shadow: 4px 4px 0px black;
}
button:hover {

    transform: translateY(-3px);

    box-shadow: 6px 6px 0px black;
}
button:active {

    transform: translateY(2px);

    box-shadow: 2px 2px 0px black;
}
button {

    display: block;

    margin: 25px auto;

}
@keyframes appear {

    from {

        opacity: 0;

        transform: scale(0.2);

    }

    to {

        opacity: 1;

        transform: scale(1);

    }
}

